body.bdy{
  font-family: 'Crimson Text', serif; background: url('../imgs/bg.png');
  background-size: cover;
  background-attachment: fixed;
}
.nv_nr{width: 50px;}


.fondo{
    background: url('../imgs/1.jpg');
    height: 100vh; /*tomara odo el alto de us conyenedor*/
    background-position: center;
    background-size: cover;
}

/* div.fill_dates{visibility:hidden;} */
.bg-minav{background:#970747 ;}

.bg-tras{background: rgba(white,white,white,0.8)}

body.bg2{
  background: url('imgs/bg.png');
  background-size: cover;
  background-attachment: fixed;
}
